name: Deploy
on:
    push:
        branches: main

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Linter
              uses: scottbrenner/cfn-lint-action@v2
            - name: Lint
              run: |
                  cfn-lint --version
                  cfn-lint templates/**/*.json
    upload:
        runs-on: ubuntu-latest
        needs: lint
        env:
            AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
            AWS_TEMPLATE_FILE: ${{ secrets.AWS_TEMPLATE_FILE }}
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Configure S3 Upload Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE }}
                  role-session-name: ${{ secrets.AWS_UPLOAD_SESSION_NAME }}
                  aws-region: ${{ secrets.AWS_REGION }}
            - name: Upload Template to S3
              run: bash ./.github/scripts/upload.sh
    deploy:
        runs-on: ubuntu-latest
        needs: upload
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Configure CloudFormation Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE }}
                  role-session-name: ${{ secrets.AWS_MODIFY_STACK_SESSION_NAME}}
                  aws-region: ${{ secrets.AWS_REGION }}
            - name: com-schoepproject-www
              uses: aws-actions/aws-cloudformation-github-deploy@master
              with:
                  name: com-schoepproject-www
                  template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.json
                  role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
                  no-fail-on-empty-changeset: "1"
                  capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
            - name: com-schoepproject-assets
              uses: aws-actions/aws-cloudformation-github-deploy@master
              with:
                  name: com-schoepproject-assets
                  template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.assets.json
                  role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
                  no-fail-on-empty-changeset: "1"
                  capabilities: CAPABILITY_IAM
