name: CD - Create Change Set
on:
  push:
    branches: main

jobs:
  upload:
    uses: ./.github/workflows/syncFolderWithS3.yml
    permissions:
      id-token: write
    strategy:
      matrix:
        directory: [root]
    with:
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_S3_BUCKET: ${{ vars.AWS_UPLOAD_BUCKET }}
      AWS_S3_DIRECTORY: ${{ matrix.directory }}
      LOCAL_DIRECTORY: ${{ matrix.directory }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_UPLOAD_ROLE }}
  deploy:
    needs: upload
    uses: ./.github/workflows/createChangeSet.yml
    permissions:
      id-token: write
    strategy:
      matrix:
        template:
          - root/SchoepprojectHostedZone.yml
        include:
          - template: root/SchoepprojectHostedZone.yml
            name: SchoepprojectHostedZone
            bucketUrl: https://https://schoepproject-infrastructure-templates-145724753995.s3.amazonaws.com
            tags: 'Key="schoepproject:group",Value="infrastructure" Key="schoepproject:subgroup",Value="iac" Key="schoepproject:layer",Value="root"'
    with:
      AWS_REGION: ${{ vars.AWS_REGION }}
      CHANGESET_NAME: "${{ matrix.name }}-CI-Changes-${{ github.sha }}"
      CHANGESET_DESCRIPTION: "Changes from commit ${{ github.sha }}"
      CHANGESET_ROLE: ${{ vars.AWS_ROLE_TO_ASSUME }}
      CHANGESET_TAGS: ${{ matrix.tags }}
      STACK_NAME: ${{ matrix.name }}
      TEMPLATE_URL: ${{ matrix.bucketUrl }}/${{ matrix.template }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_DEPLOY_ROLE }}
