name: Deploy
on:
  push:
    branches: main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Linter
        uses: scottbrenner/cfn-lint-action@v2
      - name: Lint
        run: |
          cfn-lint --version
          cfn-lint templates/**/*.json
  changes:
    uses: ./.github/workflows/changes.yml
  upload:
    runs-on: ubuntu-latest
    needs: lint
    env:
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_TEMPLATE_FILE: ${{ secrets.AWS_TEMPLATE_FILE }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure S3 Upload Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: ${{ secrets.AWS_UPLOAD_SESSION_NAME }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Upload Template to S3
        run: bash ./.github/scripts/upload.sh
  deploy:
    runs-on: ubuntu-latest
    needs: upload
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure CloudFormation Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: ${{ secrets.AWS_MODIFY_STACK_SESSION_NAME}}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: default-go-image-cicd-roles
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: default-go-image-cicd-roles
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/ecr.default-image.schoepproject.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
      - name: com-schoepproject-api
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-api
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/gateway.schoepproject.yml
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
      - name: com-schoepproject-backend
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-backend
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.backend.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
      - name: com-schoepproject-dev
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-dev
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.dev.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
      - name: com-schoepproject-authorize
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-authorize
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.authorize.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
      - name: com-schoepproject-www
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-www
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
      - name: com-schoepproject-assets
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-assets
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.assets.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM
      - name: com-schoepproject-payout
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-payout
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
          parameter-overrides: >-
            Repository=joshuadschoep/payout-schoepproject-com,
            DomainName=payout.schoepproject.com,
            BucketNameSuffix=payout,
            CICDRoleName=payout-schoepproject-com-cd
      - name: com-schoepproject-snowfall
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: com-schoepproject-snowfall
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/com.schoepproject.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
          parameter-overrides: >-
            Repository=joshuadschoep/snowfall-schoepproject-com,
            DomainName=snowfall.schoepproject.com,
            BucketNameSuffix=snowfall,
            CICDRoleName=snowfall-schoepproject-com-cd
      - name: logging-bucket
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: logging-bucket
          template: ${{ secrets.DEPLOYED_TEMPLATES_URL }}/logging.bucket.json
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_IAM,CAPABILITY_NAMED_IAM
