name: Deploy
on:
  push:
    branches: main

jobs:
  upload:
    runs-on: ubuntu-latest
    env:
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_TEMPLATE_FILE: ${{ secrets.AWS_TEMPLATE_FILE }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure S3 Upload Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: ${{ secrets.AWS_UPLOAD_SESSION_NAME }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Upload Template to S3
        run: bash ../.github/scripts/upload.sh
        working-directory: template
  deploy:
    runs-on: ubuntu-latest
    needs: upload
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure CloudFormation Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: ${{ secrets.AWS_MODIFY_STACK_SESSION_NAME}}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Create CloudFormation Change
        uses: aws-actions/aws-cloudformation-github-deploy@master
        with:
          name: ${{ secrets.AWS_STACK_NAME }}
          template: ${{ secrets.TEMPLATE_URL }}
          role-arn: ${{ secrets.AWS_CLOUDFORMATION_ROLE }}
          no-fail-on-empty-changeset: "1"
