name: Lint
on:
  push:
    branches-ignore: main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Linter
        uses: scottbrenner/cfn-lint-action@v2
      - name: Lint
        run: |
          cfn-lint --version
          cfn-lint templates/**/*.json
